In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\hi\Downloads\imdb_anime.csv")
data

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [3]:
Cdata=data.copy()

In [4]:
Cdata.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":"10","Year":0,"Summary":"no summary","Stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode":0,"Episode Title":"no"},inplace=True)

In [5]:
Cdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  object
 3   Number of Votes  45717 non-null  object
 4   Runtime          45717 non-null  object
 5   Year             45717 non-null  object
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  object
 10  Gross            45717 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    45717 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [6]:
Cdata.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)

In [7]:
Cdata=Cdata.astype({"User Rating":float,"Metascore":int,"Gross":int,"Episode":int,"Year":str})

In [8]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
Cdata["Runtime"]=Cdata["Runtime"].map(func).map(f1).map(f)

In [9]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
def f2(x):
    return str(x)
Cdata["Number of Votes"]=Cdata["Number of Votes"].map(f2).map(func).map(f1).map(f)

### 1. How many unique anime are there?

In [10]:
unique=Cdata["Title"].unique()
len(unique)

9851

### 2. Which anime has the highest rating?

In [11]:
Cdata.fillna({"User Rating":0.0},inplace=True)

In [12]:
Cdata["User Rating"].replace({"User Rating":0.0},inplace=True)

In [13]:
Cdata=Cdata.astype({"User Rating":np.float16})

In [14]:
Cdata.loc[Cdata["User Rating"]==Cdata["User Rating"].max(),["Title"]]

                               Title
13656                    Idaten Jump
17874                   Vinland Saga
22753                Attack on Titan
34677                Hunter x Hunter
39614  Legend of the Galactic Heroes
45689                Attack on Titan

### 3. Which anime has a rating between 7.0 to 9.0?

In [15]:
Cdata.loc[(Cdata["User Rating"]>=7.0)&(Cdata["User Rating"]<=9.0),["Title"]]

                                             Title
0                                        One Piece
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
4                                   Jujutsu Kaisen
6                   Demon Slayer: Kimetsu no Yaiba
...                                            ...
45709               Demon Slayer: Kimetsu no Yaiba
45710               Demon Slayer: Kimetsu no Yaiba
45711               Demon Slayer: Kimetsu no Yaiba
45712               Demon Slayer: Kimetsu no Yaiba
45713               Demon Slayer: Kimetsu no Yaiba

[15655 rows x 1 columns]

### 4. Which anime has the highest and lowest runtime?

In [16]:
a=Cdata["Runtime"]
print("these has highest runtime")
b=a.max()
high=Cdata.loc[a==b,["Title"]]
print(high)
print()
print("*"*40)
print("these has lowest runtime")
c=a.min()
low=Cdata.loc[a==c,["Title"]]
print(low)

these has highest runtime
                           Title
2798  The Wonderful Wizard of Oz

****************************************
these has lowest runtime
                            Title
2809                   Ani*Kuri15
3588                Henkei Shoujo
3708   Gloomy the Naughty Grizzly
4548                      Usavich
4792                 Tokino Kousa
...                           ...
23772  Gloomy the Naughty Grizzly
23773  Gloomy the Naughty Grizzly
23774  Gloomy the Naughty Grizzly
23775  Gloomy the Naughty Grizzly
33433                  Ani*Kuri15

[149 rows x 1 columns]

### 5. What is the runtime difference between one Piece and the super mario bros movie?

In [17]:
op=Cdata.loc[Cdata["Title"]=="One Piece",["Runtime"]].sum()
smbm=Cdata.loc[Cdata["Title"]=="The Super Mario Bros. Movie",["Runtime"]].sum()
print(op-smbm,"is the run time difference between ONE PIECE and SUPER MARIO BROS MOVIE")

Runtime    11249
dtype: int64 is the run time difference between ONE PIECE and SUPER MARIO BROS MOVIE

### 7. List all the anime that were released in the year 2023.

In [18]:
def sub(s2):
    s1="2023"
    if(len(s2)<=6):
        if s1 in s2:
            return True
        return False
    return False
a=Cdata["Year"].map(sub)
b=a.values
c=Cdata[b]
c[["Title"]]

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
13                           The Boy and the Heron
21                    Ruby Gillman, Teenage Kraken
42                     Resident Evil: Death Island
...                                            ...
7965                                 Yomawari Neko
8558          Girls und Panzer das Finale: Part IV
8605                        Jinzô Mahô Shôjo Kaini
8840                             The Dog & The Boy
10314                           The Floating World

[105 rows x 1 columns]

### 8. What is the average user rating of the anime which belong to the action genre?

### 9. which anime has the least gross price?

In [38]:
least=Cdata["Gross"].min()
a=Cdata.loc[Cdata["Gross"]==least,["Title","Gross"]]
print("THESE ANIMES HAS THE LEAST GROSS")
a

THESE ANIMES HAS THE LEAST GROSS

                                                   Title  Gross
3233                                          Show Time!      5
5620                                   The Peasant Noble      5
5714   Meitantei Conan Magic File 4: Osaka okonomiyak...      5
6142   Fist of the North Star Legennd of Heroes - Spe...      5
6236                                     Shakotan Boogie      5
...                                                  ...    ...
45600                                    Girl Beats Boys      5
45601                                    Girl Beats Boys      5
45602                                    Girl Beats Boys      5
45606                                    Girl Beats Boys      5
45608                                    Girl Beats Boys      5

[168 rows x 2 columns]

### 10. which anime has the highest gross price?

In [39]:
highest=Cdata["Gross"].max()
a=Cdata.loc[Cdata["Gross"]==highest,["Title","Gross"]]
print("THESE ANIMES HAS THE HIGHEST GROSS")
a

THESE ANIMES HAS THE HIGHEST GROSS

      Title    Gross
47   WALL·E  1162284
888  WALL·E  1162284

### 11. how many animes belongs to PG certificate?

In [40]:
cer=Cdata.loc[Cdata["Certificate"]=="PG",["Title"]].shape
print(cer[0],"belongs to PG certificate")

425 belongs to PG certificate

### 12. what is the average no.of votes in your dataset.

In [41]:
Cdata["Number of Votes"].mean()

1632.1920510969662