In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv(r"C:\Users\hi\Downloads\cleaned_all_phones.csv")
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   datetime64[ns]
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), datetime64[ns](1), float64(3), int64(3), object(5)
memory usage: 156.6+ KB

In [13]:
#1
len(data["brand"].unique())

13

In [14]:
#2
data["ram(GB)"].mean()

6.6838624338624335

In [9]:
#3
data.loc[data["battery"]==data["battery"].max(),["phone_name","battery"]]

    phone_name  battery
573         V6     7250

In [10]:
#4
data.loc[data["battery"]==data["battery"].min(),["phone_name","battery"]]

           phone_name  battery
62           iPhone 8     1821
536  iPhone SE (2020)     1821

In [14]:
#5
data.loc[data["brand"]=="Huawei",["battery"]].max()

battery    7000
dtype: int64

In [16]:
#6
data.loc[data["ram(GB)"]==data["ram(GB)"].min(),["brand","ram(GB)"]]

       brand  ram(GB)
27    Huawei        1
28   Samsung        1
69   Samsung        1
133   Huawei        1
182  Samsung        1
230  Samsung        1
236   Huawei        1
244   Xiaomi        1
304  Samsung        1
363       LG        1
550  Samsung        1

In [20]:
#7
data.loc[data["announcement_date"]==data["announcement_date"].min(),["phone_name","announcement_date"]]

     phone_name announcement_date
0  Y6II Compact        2016-09-01

In [21]:
#8
data.loc[data["os"]=="Android 7.0",["phone_name"]].count()

phone_name    33
dtype: int64

In [47]:
#9
data["brand"].value_counts()

Xiaomi     264
Oppo       213
Samsung    206
Vivo       168
Realme     157
Huawei     137
Honor      124
LG          75
OnePlus     47
Lenovo      43
Sony        37
Apple       22
Google      19
Name: brand, dtype: int64

In [33]:
#10
data.loc[data["price(USD)"]==data["price(USD)"].max(),["phone_name","brand","price(USD)"]]

    phone_name   brand  price(USD)
777     P40 4G  Huawei      2300.0

In [34]:
#11
data.loc[data["price(USD)"]==data["price(USD)"].min(),["phone_name","brand","price(USD)"]]

    phone_name   brand  price(USD)
452        C2s  Realme        40.0

In [39]:
#12
data.loc[data["video_4K"]==True,["phone_name"]].count()

phone_name    801
dtype: int64

In [19]:
data.loc[data["video_8K"]==True,["phone_name"]].count()

phone_name    86
dtype: int64

In [44]:
data.loc[data["video_1080p"]==True,["phone_name"]].count()

phone_name    1503
dtype: int64